<h1>Parking Requests</h1>

<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Car</th>
        <th>Status</th>
        <th>Slot</th>
        <th>Entry on</th>
        <th>Exit on</th>
        <th>Total time</th>
        <th>Amount</th>
        <th colspan="2">Action</th>
      </tr>
    </thead>

    <tbody>
      <% @parking_requests.each do |request| %>
        <tr>
          <td><%= request.car.identity %></td>
          <td><%= request.status %></td>
          <td><%= request.slot.specifics rescue nil %></td>
          <td><%= request.entry_on.strftime("%d/%m/%Y - %I:%M %p") rescue nil %></td>
          <td><%= request.exit_on.strftime("%d/%m/%Y - %I:%M %p") rescue nil %></td>
          <td><%= request.total_time %></td>
          <td><%= request.amount %></td>
          <td colspan="2">
            <% if current_user.admin? %>
              <% if request.requested? %>
                <%= link_to 'Allot Slot', edit_parking_request_path(request), class: 'btn btn-sm btn-info' %>
                <%= link_to 'Automate', automate_parking_request_path(request), method: :post, class: 'btn btn-sm btn-primary' %>
              <% end %>
              <%= link_to 'Discharge Slot', discharge_parking_request_path(request), method: :post, class: 'btn btn-sm btn-success' if request.release? %>
            <% else %>
              <%= link_to 'Release Slot', release_parking_request_path(request), method: :post, class: 'btn btn-sm btn-primary' if request.allotted? %>
              <%= link_to 'Cancel', request, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' if request.requested? %>
            <% end %>
            <%= link_to '<span class="glyphicon glyphicon-ok-circle"></span>'.html_safe if request.discharged? %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
