<h1>Buildings</h1>

<p class="pull-right">
  <%= link_to 'New Building', new_building_path, class: 'btn btn-sm btn-primary' %>
</p>

<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Floors</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @buildings.each do |building| %>
        <tr>
          <td><%= building.name %></td>
          <td><%= building.location %></td>
          <td><%= building.floors.count %></td>
          <td><%= link_to 'View', building, class: 'btn btn-sm btn-primary' %></td>
          <td><%= link_to 'Edit', edit_building_path(building), class: 'btn btn-sm btn-default' %></td>
          <td><%= link_to 'Destroy', building, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
