<h1>Cars</h1>

<p class="pull-right">
  <%= link_to 'New Car', new_car_path, class: 'btn btn-sm btn-primary' %>
</p>

<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Registration number</th>
        <th>Model</th>
        <th>Color</th>
        <th colspan="2">Actions</th>
        <th>Parking Slot</th>
      </tr>
    </thead>

    <tbody>
      <% @cars.each do |car| %>
        <tr>
          <td><%= car.registration_number %></td>
          <td><%= car.model %></td>
          <td><%= car.color %></td>
          <td><%= link_to 'View', car, class: 'btn btn-sm btn-primary' %></td>
          <td><%= link_to 'Edit', edit_car_path(car), class: 'btn btn-sm btn-default' %></td>
          <td>
            <% if car.parking_requests.not.discharged.count == 0 %>
              <%= link_to 'Request', park_car_path(car), method: :post, class: 'btn btn-sm btn-info' %>
            <% else %>
              Request in Process
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
