<!DOCTYPE html>
<html>
  <head>
    <title>| ParKings |</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <style type="text/css">
      html,body { height: 100%;  margin: 0.1; }

      body {
        display: table;
        width: 100%;
      }

      footer {
        height: 50px;
        background: #333333;
        display: table-row;
      }

      footer a:hover, a:visited, a:link, a:active {
        text-decoration: none;
      }

      footer p {
        padding: absolute;
        margin-left: 10px;
      }
    </style>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand glyphicon glyphicon-gift">ParKings</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active">
            <%= link_to '<span class="glyphicon glyphicon-home"></span> Home'.html_safe, root_path %>
          </li>
          <% if signed_in? && current_user.admin? %>
            <li>
              <%= link_to '<span class="glyphicon glyphicon-equalizer"></span> Buildings'.html_safe, buildings_path %>
            </li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if signed_in? %>
            <li><a><span class="glyphicon glyphicon-user"></span> <%= current_user.email %></a></li>
            <li>
              <%= link_to '<span class="glyphicon glyphicon-log-out"></span> Sign out'.html_safe, destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
            <li>
              <% if controller_name == 'registrations' %>
                <%= link_to '<span class="glyphicon glyphicon-log-in"></span> Log In'.html_safe, new_user_session_path %>
              <% else %>
                <%= link_to '<span class="glyphicon glyphicon-user"></span> Sign up'.html_safe, new_user_registration_path %>
              <% end %>
            </li>
            <li>
              <% if controller_name == 'passwords' %>
                <%= link_to '<span class="glyphicon glyphicon-log-in"></span> Log In'.html_safe, new_user_session_path %>
              <% else %>
                <%= link_to '<span class="glyphicon glyphicon-lock"></span> Forgot your password?'.html_safe, new_user_password_path %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container container-main">
      <div class='container-fluid'>
        <% if notice %>
          <div id="success" class="row alert alert-success rounded">
            <center><%= notice %></center>
          </div>
        <% end %>
        <% if alert %>
          <div id="error" class="row alert alert-danger rounded">
            <center><%= alert %></center>
          </div>
        <% end %>
      </div>

      <div class="row">
        <%= yield %>
      </div>
    </div>

    <br><br>

    <footer>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-footer">
            <p class="navbar-brand">All Rights Reserved &copy; <%= Date.today.year %> & Powered by <b><%= link_to 'Manjunath P', 'https://github.com/manjunath724', target: '_blank' %></b></p>
            <p class="navbar-brand navbar-right">Contact information: <a href="mailto:manjunath724@gmail.com">manjunath724@gmail.com</a>.</p>
          </div>
        </div>
      </nav>
    </footer>
  </body>
</html>
